<%= form_for([@product.category, @product]) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <% Subtype.all.each do |subtype| %>
      <strong>Select the <%= subtype.name %></strong><br />
      <% Option.where(subtype_id: subtype.id).each do |option| %>
        <%= radio_button_tag "subtypes[#{subtype.name}]", "#{option.name}" %> <%= option.name %><br />
      <% end %>
      <%= link_to "Add Option", new_subtype_option_path(subtype.id) %>
      <br /><br />
    <% end %>
    <%= link_to "Add Subtype", new_subtype_path %>
  </p>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
